DB_USERNAME=your_db_user      # default: postgres
DB_HOST=your_db_host          # default: localhost
DB_PORT=your_db_port          # default: 5432
DB_PASSWORD=your_db_password  # default: root
DB_NAME=your_db_name          # default: db_mcc_colin 
SERVER_PORT=your_server_port  # default (for this microservice): 8083